<div class="hero">
  <div class="hero-img">
    <img src="assets/img/3644525 copy.png" />
  </div>
  <div class="hero-text">
    <h1>
      Welcome to <br />
      Eqquiped
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam impedit
      non, quaerat, quod accusantium laudantium beatae explicabo, doloribus
      aperiam temporibus provident doloremque minima? Est mollitia neque eaque
      hic dolore qui!
    </p>
  </div>
</div>

<div class="explore">
  <div class="explore-carosel">
    <app-carosel [images]="images" [autoSlide]="false"></app-carosel>
  </div>

  <div class="spacer">
  </div>

  <div class="explore-text">
    <h1>
      Join us and explore <br />
      <br />
      the newest tehnological advancements <br />
      in the medical field
    </h1>
    <div class="btn-wrapper">
      <button class="button" mat-raised-button color="primary">Explore</button>
    </div>
  </div>
</div>
